
* {
	margin: 0;
	padding: 0;
}

canvas {
    margin: auto;
    display: block;
    width: auto;
}

body {
	font-family: 'Open Sans', sans-serif;
	background-color: #323232 !important;
}


.containers {
	padding: 20px;
	width: 500px;
	display: flex;
	flex-direction: row;
	margin: auto;
	} .containers .number {
		width: 100px;
		float: right;
	} .containers .slider {
		float: right;
		padding: 0 10px 0 10px;
		width: 300px !important;
		background-color: #323232 !important;
	} .containers .color-label {
		text-align: center;
		flex: 1;
		font-size: 16pt;
		color: #f1f1f1;
	}

.wrapper {
	margin: auto;
    width: 60%;
}

.form-contro {
	color: #f1f1f1;
	background-color: #565656;
	border: 0px solid red;
	border-radius: 3px;
	padding: 5px;
}

.moodlighter {
	color: #f1f1f1;
	font-size: 32pt;
	font-weight: bold;
	text-align: center;
}

.status-label {
	color: #717171;
	font-size: 12pt;
	padding-left: 5px;
	text-align: center;
	display: inline-block;
}

.status-wrapper {
	margin: 0 auto;
}


@media screen and (max-width: 360px) {
	.containers {
		width: auto;
		display: flex;
		flex-direction: row;
	}
	canvas {
		width: auto;
	}
	.containers .number {
		width: 50px;
		float: right;
	}
		.wrapper {
		margin: 0;
	    width: auto;
	}
	.containers .slider {
		float: right;
		padding: 0 10px 0 10px;
		width: 300px !important;
		background-color: #323232 !important;
	}
}
